.section {
  background-color: #006494;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section2 {
  background-color: #006494;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section3 {
  background-color: #006494;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: baseline;
}

.button1 {
  border: 3px solid;
  border-radius: 15px;
  background-color: #006494;
  border-color: aliceblue;
  width: 9%;
  height: 60px;
  color: aliceblue;
  font-size: 25px;
}

.button2 {
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: white;
  border-color: aliceblue;
  width: 100%;
  height: 60px;
  color: black;
  margin-top: 10px;
  justify-content: space-between;
}

.button-know-more{
  border-radius: 15px;
  background-color: #006494;
  border-color: aliceblue;
  width: 30%;
  height: 43px;
  color: aliceblue;
  font-size: 15px;
  margin-top: 10px;
}

h1 {
  color: aliceblue;
}

.img {
  display: flex;
  align-items: baseline;
  margin-right: 10px;
  width: 80px;
}

.img2 {
  width: 10%;
  margin: 10px;
}

.img3 {
  margin-top: 5%;
}

.text {
  color: aliceblue;
  font-size: 25px;
}